.container__resultados {
    display: flex;
    justify-content: space-around;
    margin: 0 5rem 0 9rem;
}
.container__resultados__caixa {
    width: 28rem;
    height: 16.8rem;
}
.container__resultados__caixa h2 {
    color: var(--cor-vinho);
    font-family: var(--fonte-principal);
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.container__resultados__caixa h3 {
    color: var(--cor-cinza-escuro);
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.container__resultados__caixa p {
    color: var(--cor-cinza-claro);
    font-family: var(--fonte-principal);
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}